<!-- Navbar horizontal arriba -->
<header class="top-navbar">
  <button mat-icon-button (click)="openSidenav()" type="button">
    <mat-icon>menu</mat-icon>
  </button>
  
  <a class="navbar-brand" routerLink="/home" aria-label="Ir al inicio">
    <ng-container *ngIf="siteConfig$ | async as siteConfig">
      <div class="brand-logo" *ngIf="siteConfig.navbar.logo_url; else defaultBrandIcon">
        <img [src]="siteConfig.navbar.logo_url" [alt]="siteConfig.navbar.brand_text || 'Logo del sitio'" title="Logo del sitio" loading="lazy" />
      </div>
      <ng-template #defaultBrandIcon>
        <mat-icon class="brand-icon">school</mat-icon>
      </ng-template>
      <span class="brand-text" *ngIf="siteConfig.navbar.brand_text">{{ siteConfig.navbar.brand_text }}</span>
    </ng-container>
  </a>
  
  <div class="navbar-right">
    <ng-container *ngIf="currentUser$ | async as user; else loginButton">
      <div class="avatar" aria-hidden="true">
        <img
          *ngIf="getAvatarUrl(user) as avatarUrl; else avatarFallback"
          [src]="avatarUrl"
          [alt]="'Foto de ' + user.nombre"
          loading="lazy"
        />
        <ng-template #avatarFallback>
          <span>{{ getAvatarText(user.nombre) }}</span>
        </ng-template>
      </div>
      <span class="user-greeting">Hola {{ user.nombre }} ({{ user.nombre_rol }})</span>
      <button mat-button type="button" (click)="cerrarSesion()">
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>
    </ng-container>

    <ng-template #loginButton>
      <button mat-button type="button" (click)="abrirModalAuth('login')">
        <mat-icon>account_circle</mat-icon>
        Ingresar
      </button>
    </ng-template>
  </div>
</header>

