<!-- Navbar horizontal arriba -->
<header class="top-navbar">
  <button mat-icon-button (click)="openSidenav()" type="button">
    <mat-icon>menu</mat-icon>
  </button>
  
  <div class="navbar-brand">
    <mat-icon class="brand-icon">school</mat-icon>
    <span class="brand-text">Comunidad IFTS</span>
  </div>
  
  <div class="navbar-right">
    <ng-container *ngIf="currentUser$ | async as user; else loginButton">
      <div class="avatar" aria-hidden="true">
        <img
          *ngIf="user.foto_perfil_url; else avatarFallback"
          [src]="user.foto_perfil_url"
          [alt]="'Foto de ' + user.nombre"
          loading="lazy"
        />
        <ng-template #avatarFallback>
          <span>{{ getAvatarText(user.nombre) }}</span>
        </ng-template>
      </div>
      <span class="user-greeting">Hola {{ user.nombre }} ({{ user.nombre_rol }})</span>
      <button mat-button type="button" (click)="cerrarSesion()">
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>
    </ng-container>

    <ng-template #loginButton>
      <button mat-button type="button" (click)="abrirModalAuth('login')">
        <mat-icon>account_circle</mat-icon>
        Ingresar
      </button>
    </ng-template>
  </div>
</header>

